/* Estilos del calendario */
#calendar {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 500px;
}

/* Encabezado del calendario */
#calendar-header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

/* Cuerpo del calendario */
#calendar-body {
    padding: 10px;
}

/* Tabla del calendario */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Celdas de la tabla */
th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
    transition: background-color 0.2s ease;
}

/* Estilos para los días de la semana (encabezados de la tabla) */
th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 16px;
}

/* Estilo del día actual */
.today {
    background-color: #e6ffe6;
    font-weight: bold;
    border: 2px solid #4CAF50;
}

/* Botones de navegación */
button {
    background-color: #45a049;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3e8e41;
}

/* Indicadores de eventos */
.event-dot {
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 50%;
    margin: 2px auto;
    display: inline-block;
}

td {
    text-align: center;
    vertical-align: top;
    padding: 5px;
}

#calendar-body td {
    position: relative;
    height: 45px;
    width: 45px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Resalta los días con eventos cuando se pasa el cursor */
#calendar-body td:hover {
    background-color: #f0f8ff;
}

.day-number {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.event-indicator {
    display: block;
    font-size: 25px;
    height: 25px;
    line-height: 1;
    color: #d9534f;
}

/* Estilo adicional para celdas con eventos */
td.has-event {
    position: relative;
}

td.has-event .event-indicator {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: red;
}

.evento-lista {
    background-color: #4CAF50;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
}

.ev-lista{
    padding: 10px;
    font-size: 17px;
    text-align: left;
    list-style-type: disc;
    padding-left: 30px;
    grid-template-columns: repeat(1, 2fr);
}